# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled tests
test
test_little
test_big

# Temporary files
*.swp

# Doxygen output
html/

# Examples
examples/*/*
!examples/*/*.cpp

# Performance
performance/*
!performance/*.cpp

# Benchmarks
benchmarks/*
!benchmarks/*.cpp
